element.style {
    width: 330px;
    height: 197px;
    object-fit: cover;
    object-position: 50% 50%;
}
.Jxk_UL img, .Z_wCwr, .bX9O_S {
    height: 100%;
    width: 100%;
}
.HlRz5e img {
    max-width: var(--wix-img-max-width,100%);
}
.Jxk_UL img, .Z_wCwr, .bX9O_S {
    height: 100%;
    width: 100%;
}
.HlRz5e img {
    max-width: var(--wix-img-max-width,100%);
}
.Jxk_UL img, .Z_wCwr, .bX9O_S {
    height: 100%;
    width: 100%;
}
.HlRz5e img {
    max-width: var(--wix-img-max-width,100%);
}
.Jxk_UL img, .Z_wCwr, .bX9O_S {
    height: 100%;
    width: 100%;
}
.HlRz5e img {
    max-width: var(--wix-img-max-width,100%);
}
.Jxk_UL img, .Z_wCwr, .bX9O_S {
    height: 100%;
    width: 100%;
}
.HlRz5e img {
    max-width: var(--wix-img-max-width,100%);
}
.HlRz5e img {
    max-width: var(--wix-img-max-width,100%);
}
a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.MW5IWV {
    left: 0;
    -webkit-mask-image: var(--mask-image,none);
    mask-image: var(--mask-image,none);
    -webkit-mask-position: var(--mask-position,0);
    mask-position: var(--mask-position,0);
    -webkit-mask-repeat: var(--mask-repeat,no-repeat);
    mask-repeat: var(--mask-repeat,no-repeat);
    -webkit-mask-size: var(--mask-size,100%);
    mask-size: var(--mask-size,100%);
    overflow: hidden;
    pointer-events: var(--fill-layer-background-media-pointer-events);
    position: absolute;
    top: 0;
}
.MW5IWV {
    left: 0;
    -webkit-mask-image: var(--mask-image,none);
    mask-image: var(--mask-image,none);
    -webkit-mask-position: var(--mask-position,0);
    mask-position: var(--mask-position,0);
    -webkit-mask-repeat: var(--mask-repeat,no-repeat);
    mask-repeat: var(--mask-repeat,no-repeat);
    -webkit-mask-size: var(--mask-size,100%);
    mask-size: var(--mask-size,100%);
    overflow: hidden;
    pointer-events: var(--fill-layer-background-media-pointer-events);
    position: absolute;
    top: 0;
}
.MW5IWV {
    left: 0;
    -webkit-mask-image: var(--mask-image,none);
    mask-image: var(--mask-image,none);
    -webkit-mask-position: var(--mask-position,0);
    mask-position: var(--mask-position,0);
    -webkit-mask-repeat: var(--mask-repeat,no-repeat);
    mask-repeat: var(--mask-repeat,no-repeat);
    -webkit-mask-size: var(--mask-size,100%);
    mask-size: var(--mask-size,100%);
    overflow: hidden;
    pointer-events: var(--fill-layer-background-media-pointer-events);
    position: absolute;
    top: 0;
}
.MW5IWV {
    left: 0;
    -webkit-mask-image: var(--mask-image,none);
    mask-image: var(--mask-image,none);
    -webkit-mask-position: var(--mask-position,0);
    mask-position: var(--mask-position,0);
    -webkit-mask-repeat: var(--mask-repeat,no-repeat);
    mask-repeat: var(--mask-repeat,no-repeat);
    -webkit-mask-size: var(--mask-size,100%);
    mask-size: var(--mask-size,100%);
    overflow: hidden;
    pointer-events: var(--fill-layer-background-media-pointer-events);
    position: absolute;
    top: 0;
}
.MW5IWV {
    left: 0;
    -webkit-mask-image: var(--mask-image,none);
    mask-image: var(--mask-image,none);
    -webkit-mask-position: var(--mask-position,0);
    mask-position: var(--mask-position,0);
    -webkit-mask-repeat: var(--mask-repeat,no-repeat);
    mask-repeat: var(--mask-repeat,no-repeat);
    -webkit-mask-size: var(--mask-size,100%);
    mask-size: var(--mask-size,100%);
    overflow: hidden;
    pointer-events: var(--fill-layer-background-media-pointer-events);
    position: absolute;
    top: 0;
}
#comp-kamcd8v8 {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    --fill-layer-image-opacity: 1;
    --fill-layer-video-opacity: 1;
    --fill-container-overflow: visible;
    --fill-transform: rotate(0.01deg);
    --border-compensate-margin: 0px;
    --fill-layer-background-overlay-transform: translateZ(0);
}
@media screen and (min-width: 320px) and (max-width: 750px)
#comp-kamcd8v8 {
    height: 400px;
    width: auto;
    --l_display: none;
    align-self: start;
    justify-self: stretch;
    margin-right: 0.000054588847%;
    margin-top: 0px;
    margin-bottom: 0.000025px;
    grid-area: 1/2/2/3;
}
@media screen and (min-width: 320px) and (max-width: 1000px)
#comp-kamcd8v8 {
    height: auto;
    width: auto;
    --l_display: none;
    align-self: stretch;
    justify-self: stretch;
    margin-right: 0%;
    margin-top: -100px;
    margin-bottom: 0px;
    grid-area: 1/1/2/4;
}
#comp-kamcd8v8 {
    height: auto;
    width: 100%;
    min-width: 0px;
    max-height: 99999px;
    min-height: 0px;
    --l_display: unset;
    top: calc(var(--top) + var(--sticky-top) + var(--wix-ads-top-height) * var(--is-sticky));
    align-self: start;
    justify-self: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -100px;
    margin-bottom: 0px;
    grid-area: 1/1/2/3;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
}
.comp-kamcd8v8-container {
    box-sizing: border-box;
    display: var(--l_display,var(--container-display));
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    --container-display: grid;
}
#comp-k5cfsti11 {
    --bg: var(--color_11);
    --alpha-bg: 0;
    --bg-overlay-color: transparent;
    --bg-gradient: none;
}
#comp-k5cfsti11 {
    height: auto;
    min-height: 0px;
    top: calc(var(--top) + var(--sticky-top) + var(--wix-ads-top-height) * var(--is-sticky));
    align-self: stretch;
    justify-self: stretch;
    grid-area: 2/1/3/2;
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
}
.comp-k5cfsti11-container {
    box-sizing: border-box;
    display: var(--l_display,var(--container-display));
    grid-template-rows: minmax(50px,max-content);
    grid-template-columns: 1fr 1fr;
    --container-display: grid;
}
#PAGE_SECTIONSc1dmp {
    --pinned-layer-in-container: 49;
    --above-all-in-container: 49;
}
#c1dmp .c1dmp-container {
    position: relative;
    box-sizing: border-box;
    display: var(--l_display,var(--container-display));
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-columns: minmax(0px,1fr);
    --container-display: grid;
}
#c1dmp:not(.c1dmp-container) {
    display: var(--l_display,var(--container-display));
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr);
    --container-display: grid;
}
@media (min-width: 320px) and (max-width: 1000px)
#c1dmp, #comp-k7u77c01, #comp-k7u7dmf5, #comp-k7u7ftla, #comp-k7u7fmzz, #comp-k7ud7604, #comp-k7onvp5j, #comp-k7onxsvi, #comp-k7omx0co, #comp-kap7ei3u {
    --minViewportSize: 320;
    --maxViewportSize: 1000;
}
@media (min-width: 320px) and (max-width: 1000px)
#c1dmp {
    --bg: var(--color_23);
    --alpha-bg: 1;
    --shc-mutated-brightness: 31,31,27;
}
#c1dmp {
    --bg: var(--color_23);
    --alpha-bg: 1;
    --shc-mutated-brightness: 31,31,27;
}
#c1dmp {
    height: auto;
    top: calc(var(--top) + var(--sticky-top) + var(--wix-ads-top-height) * var(--is-sticky));
    position: relative;
    --is-sticky: 0;
    --sticky-top: 0px;
    --top: 0px;
}
#SITE_PAGES {
    --transition-duration: 700ms;
}
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
}
:root, :host {
    --color_0: 255,255,255;
    --color_28: 116,153,161;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_29: 77,102,107;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 248,248,244;
    --color_12: 232,230,230;
    --color_13: 199,199,199;
    --color_14: 173,173,172;
    --color_15: 24,24,24;
    --color_16: 216,212,201;
    --color_17: 176,172,159;
    --color_18: 137,130,110;
    --color_30: 39,51,54;
    --color_19: 91,87,73;
    --color_20: 46,43,37;
    --color_21: 240,240,240;
    --color_22: 219,217,211;
    --color_23: 62,61,53;
    --color_24: 54,53,51;
    --color_25: 31,31,27;
    --color_26: 203,220,224;
    --color_31: 214,197,212;
    --color_32: 174,153,170;
    --color_33: 133,101,128;
    --color_34: 89,67,85;
    --color_35: 44,34,43;
    --font_0: normal normal normal 80px/1.4em avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --font_2: normal normal normal 50px/1.4em avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    --font_3: normal normal normal 24px/1.4em avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    --font_4: normal normal normal 100px/1.4em avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    --font_5: normal normal normal 40px/1.4em avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    --font_6: normal normal normal 20px/1.4em avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    --font_7: normal normal normal 18px/1.4em avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    --font_8: normal normal normal 16px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    --font_9: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
    --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --wix-ads-height: 0px;
    --wix-ads-top-height: 0px;
    --site-width: 980px;
    --above-all-z-index: 100000;
